.list {
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  padding-block: 4px;
  padding-inline: 4px;
  color: red;
  font-weight: 500;
  text-decoration: 1px underline;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.link:visited {
  color: #808080;
  text-decoration: 1px underline grey;
}
.link:hover {
  text-decoration: 2px underline blue;
}
.link:active {
  color: inherit;
}
